
.loginview{
	height: 400px;
	
}
.loginview-title{
	text-transform: uppercase;
	font-size: 1.2em;
	font-weight: bold;
}
/*X-Small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
	.loginview .col-md-4{
		text-align: left !important;
		font-weight: bold;
		padding-left: 15px;
	}
	.loginview .col-md-6{
		padding-left: 25px;
		padding-right: 25px;
	}
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px){
	.loginview .col-md-4{
		text-align: left !important;
		font-weight: bold;
		padding-left: 15px;
	}
	.loginview .col-md-6{
		padding-left: 25px;
		padding-right: 25px;
	}
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px){

}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px){
	
	
}

/* X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) {
	
}

/* XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {
	
}
